body{
    font-family: sans-serif;
    font-size: 1.2rem;
    /* text-align: center; */

}
main {
    max-width: 60rem;
    margin-inline: auto;
    padding: 2rem;
    background-color: rgb(149, 131, 192);
}

nav {
    background-color: rgb(194, 196, 91);
}

article {
    background-color: blueviolet;
}

.navigation{
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1rem;
}

.hem {
    color: rgb(217, 255, 0);
    background-color: rgb(0, 4, 255);
}

.om {
    color: rgb(153, 0, 255);
    background-color: rgb(0, 204, 255);
}

.teknik{
    color: rgb(175, 53, 149);
    background-color: rgb(80, 68, 124);
}

